body{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: center;
    background-color: #86869e;
}

h1{ 
	background-color: black;
	color:white;
	text-align: center;
	border:transparent;
	padding:10px; 
}
img{
	width:150px;
	height: 150px;
    cursor: pointer;
    transition: all 1s;
}
img:hover{
	transform:scale(1.1);

}
form{
	justify-content: center;
	padding: 10px 5px ;
	margin: 10px 5px ;
	color:blue;
	border: transparent; 
}